apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

## TODO
namePrefix: kboot-k3d-

## TODO appGroup and app
commonLabels:
  app: kboot-k3d-service
  appGroup: myhelsana

# Resources
resources:
- cronjob.yaml
- pv-pvc-hostpath.yaml
#- pvc-mydata-event-integration.yaml
- use-configmap.yaml


## Used for splunk forwarding
#commonAnnotations:
#  splunk.com/index: myhelsana

# otherwise the name wil be namePrefix-app-nameSuffix
patches:
- patch: |-
    - op: replace
      path: /metadata/name
      value: service
  target:
    kind: CronJob
    name: .*
- patch: |-
    - op: replace
      path: /metadata/name
      value: service
  target:
    kind: PersistentVolumeClaim
    name: .*
